<!DOCTYPE html>
<html>
<head>
	<title></title>
<link rel="stylesheet" type="text/css" href="test.css">
<body>
	<div id="mao-temp-r">
		<div id="banner"></div>

		<div class="temp-list"><h2 class="sectionHead">个人信息</h2>
			<h2 class="jshow">Dwt</h2>
			<div class="aboutme">
				<img src="mao.png">
				<div class="tab">
					<h2>姓名；Mao</h2>
					<h2>作者；Dwt</h2>
					<h2>日期；18/2/7</h2>
					<h2>期待岗位；前端/Node.js</h2>
					<h2>教育背景；本科</h2>
				</div>
				
			</div>
		</div>



		<div class="temp-list"><h2 class="sectionHead">教育</h2>
			<h2 class="jshow">2015.7.1-2019.6.1</h2>
			<div class="content">
				<h2>Mao 是一款静态简历快速部署工具，你可以使用它在使用较少的HTML时来快速构建完善的单页面，同时我们拥有一套完善的UI库来供开发者使用，同时开发者也可以根据自己喜好来制作主题</h2>
			</div>
		</div>





		<div class="temp-list"><h2 class="sectionHead">技术</h2>
			<h2 class="jshow">优势</h2>
			<ul class="skills">
	<!--////////////////////////////////////////////////////////////////////////////////////-->
	<!--Notice the class names indicate the % of your skills. i.e. s70 = 70%, s40 = 40% etc. -->
	<!--////////////////////////////////////////////////////////////////////////////////////-->
				<span>单页面渲染速度</span><li  class="s80"></li>
				<span>支持markdown</span><li  class="s40"></li>
				<span>json快速配置</span><li  class="s50"></li>
				<span>node快速部署</span><li  class="s60"></li>
			</ul>
		</div>
		<h4  class="foot"><a href="#">Power by Mao</a></h4>
	</div>

</body>
</html>