<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mao</title>
<meta name="viewport" content="initial-scale=1.0,width=device-width" />
<link rel="stylesheet" href="css/style.css" type="text/css"/>

</head>
<body>

<!--STICKER-->
<div id="sticker"></div>

<div id="wrapper">

<h2 id="titleName" class="sectionHead">$0</h2>

<p id="bio">
	<h3>$1</h3>
	

	<p id="socialIcons">
	</p>

	<p>$2 <a title="Selected Work">$3</a>
		
	</p>
	 <p class="clear"></p>
</div>


</body>
</html>